<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Darden.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECC6E34F1E6EF14D004C0552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECC6E3631E6EF14D004C0552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECC6E36E1E6EF14E004C0552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
